.favorite {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCheck {
    display: none;
}

.input:checked ~ .icon {
    display: none;
}

.input:checked ~ .iconCheck {
    display: block;
}


