.item {
    background-color: #ffffff;
}

.wrapper {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
}

.top {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px 30px;
}

.avatar {
    border-radius: 50%;
    border: 2px solid mediumspringgreen;
    grid-column: 1 / 2;
    grid-row: 1  / 3;
}

.name {
    grid-column: 2/3;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.name img,
.star img {
    margin-right: 7px;
}

.star {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

.link {
    color: #007AFF;
}

.language {
    font-weight: 600;
    font-size: 16px;
    color: #007AFF;
}

.bottom {
    display: flex;
    justify-content: space-between;
}
